<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:fragment="commonHeader">
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Vito - Online book management platform</title>
    <!-- Favicon -->
    <link rel="shortcut icon" href="../static/images/loader.gif"/>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="../static/css/bootstrap.min.css">
    <!-- Typography CSS -->
    <link rel="stylesheet" href="../static/css/typography.css">
    <!-- Style CSS -->
    <link rel="stylesheet" href="../static/css/style.css">
    <!-- Responsive CSS -->
    <link rel="stylesheet" href="../static/css/responsive.css">
</head>
<body>
<!-- common sidebar -->
<div th:fragment="sidebar_base">
    <div class="iq-sidebar">
        <div class="iq-sidebar-logo d-flex justify-content-between">
            <a th:href="@{/index}">
                <img src="../static/images/logo.gif" class="img-fluid" alt="">
                <span>Vito</span>
            </a>
            <div class="iq-menu-bt-sidebar">
                <div class="iq-menu-bt align-self-center">
                    <div class="wrapper-menu">
                        <div class="main-circle"><i class="ri-arrow-left-s-line"></i></div>
                        <div class="hover-circle"><i class="ri-arrow-right-s-line"></i></div>
                    </div>
                </div>
            </div>
        </div>
        <div id="sidebar-scrollbar">
            <nav class="iq-sidebar-menu">
                <ul class="iq-menu">
                    <li class="iq-menu-title">
                        <i class="ri-subtract-line"></i>
                        <span>Book Center</span></li>
                    <!--index page-->
                    <li>
                        <a th:href="@{/book/list}" class="iq-waves-effect"><i
                                class="ri-line-line"></i><span>Book List</span></a>
                    </li>
                    <li>
                        <a th:href="@{/book/add}" class="iq-waves-effect"><i
                                class="ri-scan-line"></i><span>Book Add</span></a>
                    </li>
                    <li>
                        <a th:href="@{/biz}" class="iq-waves-effect"><i
                                class="ri-edit-box-line"></i><span>Book Rent</span></a>
                    </li>
                    <li class="iq-menu-title"><i class="ri-subtract-line">
                    </i><span>User Center</span></li>
                    <li><a th:href="@{/edit/(userId=${session.userInfo.userId})}" class="iq-waves-effect"><i class="ri-file-edit-line"></i>
                        <span>User Edit</span></a></li>
                    <li><a th:href="@{/user/add}" class="iq-waves-effect"><i class="ri-user-add-line" ></i><span>User Add</span></a></li>
                    <li><a th:href="@{/user/list}" class="menu_list iq-waves-effect"><i class="ri-file-list-line"></i><span>User List</span></a></li>
                    <li class="iq-menu-title"><i class="ri-subtract-line">
                    </i><span>App </span></li>
                    <li><a th:href="@{/todo}" class="iq-waves-effect"><i
                            class="ri-chat-check-line"></i><span>Todo</span></a>
                    </li>
                    <li><a th:href="@{/calendar}" class="iq-waves-effect"><i
                            class="ri-calendar-2-line"></i><span>Calendar</span></a></li>
                    <li><a th:href="@{/chat}" class="iq-waves-effect"><i
                            class="ri-message-line"></i><span>Chat</span></a>
                    </li>
                    <li><a th:href="@{/coming}" class="iq-waves-effect"><i
                            class="ri-shopping-cart-line"></i><span>eCommerce</span><small
                            class="badge badge-pill badge-primary float-right font-weight-normal ml-auto">Soon</small></a>
                    </li>

                </ul>
            </nav>
            <div class="p-3"></div>
        </div>
    </div>
</div>
<div th:fragment="top_nav_bar">
    <div class="iq-top-navbar">
        <div class="iq-navbar-custom">
            <div class="iq-sidebar-logo">
                <div class="top-logo">
                    <a th:href="@{/index}" class="logo">
                        <img src="../static/images/logo.gif" class="img-fluid" alt="">
                        <span>vito</span>
                    </a>
                </div>
            </div>
            <nav class="navbar navbar-expand-lg navbar-light p-0">
                <div class="iq-search-bar">
                    <form action="#" class="searchbox">
                        <input type="text" class="text search-input" placeholder="Type here to search...">
                        <a class="search-link" href="#"><i class="ri-search-line"></i></a>
                    </form>
                </div>
                <button class="navbar-toggler" type="button" data-toggle="collapse"
                        data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <i class="ri-menu-3-line"></i>
                </button>
                <div class="iq-menu-bt align-self-center">
                    <div class="wrapper-menu">
                        <div class="main-circle"><i class="ri-arrow-left-s-line"></i></div>
                        <div class="hover-circle"><i class="ri-arrow-right-s-line"></i></div>
                    </div>
                </div>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ml-auto navbar-list">
                        <li class="nav-item">
                            <a class="search-toggle iq-waves-effect language-title" href="#"><img
                                    src="../static/images/small/flag-01.png" alt="img-flaf" class="img-fluid mr-1"
                                    style="height: 16px; width: 16px;"/> English <i
                                    class="ri-arrow-down-s-line"></i></a>
                            <div class="iq-sub-dropdown">
                                <a class="iq-sub-card" href="#"><img src="../static/images/small/flag-02.png"
                                                                     alt="img-flaf"
                                                                     class="img-fluid mr-2"/>French</a>
                                <a class="iq-sub-card" href="#"><img src="../static/images/small/flag-03.png"
                                                                     alt="img-flaf"
                                                                     class="img-fluid mr-2"/>Spanish</a>
                                <a class="iq-sub-card" href="#"><img src="../static/images/small/flag-04.png"
                                                                     alt="img-flaf"
                                                                     class="img-fluid mr-2"/>Italian</a>
                                <a class="iq-sub-card" href="#"><img src="../static/images/small/flag-05.png"
                                                                     alt="img-flaf"
                                                                     class="img-fluid mr-2"/>German</a>
                                <a class="iq-sub-card" href="#"><img src="../static/images/small/flag-06.png"
                                                                     alt="img-flaf"
                                                                     class="img-fluid mr-2"/>Japanese</a>

                            </div>
                        </li>
                        <li class="nav-item">
                            <a class="search-toggle iq-waves-effect" th:href="@{/lock}"><i class="ri-lock-line"></i></a>
                        </li>
                        <li class="nav-item">
                            <a href="#" class="search-toggle iq-waves-effect">
                                <div id="lottie-beil"></div>
                                <span class="bg-danger dots"></span>
                            </a>
                            <div class="iq-sub-dropdown">
                                <div class="iq-card shadow-none m-0">
                                    <div class="iq-card-body p-0 ">
                                        <div class="bg-primary p-3">
                                            <h5 class="mb-0 text-white">All Notifications<small
                                                    class="badge  badge-light float-right pt-1">4</small></h5>
                                        </div>

                                        <a href="#" class="iq-sub-card">
                                            <div class="media align-items-center">
                                                <div class="">
                                                    <img class="avatar-40 rounded" src="../static/images/user/01.jpg"
                                                         alt="">
                                                </div>
                                                <div class="media-body ml-3">
                                                    <h6 class="mb-0 ">Emma Watson Nik</h6>
                                                    <small class="float-right font-size-12">Just Now</small>
                                                    <p class="mb-0">95 MB</p>
                                                </div>
                                            </div>
                                        </a>
                                        <a href="#" class="iq-sub-card">
                                            <div class="media align-items-center">
                                                <div class="">
                                                    <img class="avatar-40 rounded" src="../static/images/user/02.jpg"
                                                         alt="">
                                                </div>
                                                <div class="media-body ml-3">
                                                    <h6 class="mb-0 ">New customer is join</h6>
                                                    <small class="float-right font-size-12">5 days ago</small>
                                                    <p class="mb-0">Jond Nik</p>
                                                </div>
                                            </div>
                                        </a>
                                        <a href="#" class="iq-sub-card">
                                            <div class="media align-items-center">
                                                <div class="">
                                                    <img class="avatar-40 rounded" src="../static/images/user/03.jpg"
                                                         alt="">
                                                </div>
                                                <div class="media-body ml-3">
                                                    <h6 class="mb-0 ">Two customer is left</h6>
                                                    <small class="float-right font-size-12">2 days ago</small>
                                                    <p class="mb-0">Jond Nik</p>
                                                </div>
                                            </div>
                                        </a>
                                        <a href="#" class="iq-sub-card">
                                            <div class="media align-items-center">
                                                <div class="">
                                                    <img class="avatar-40 rounded" src="../static/images/user/04.jpg"
                                                         alt="">
                                                </div>
                                                <div class="media-body ml-3">
                                                    <h6 class="mb-0 ">New Mail from Fenny</h6>
                                                    <small class="float-right font-size-12">3 days ago</small>
                                                    <p class="mb-0">Jond Nik</p>
                                                </div>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="nav-item dropdown">
                            <a href="#" class="search-toggle iq-waves-effect">
                                <div id="lottie-mail"></div>
                                <span class="bg-primary count-mail"></span>
                            </a>
                            <div class="iq-sub-dropdown">
                                <div class="iq-card shadow-none m-0">
                                    <div class="iq-card-body p-0 ">
                                        <div class="bg-primary p-3">
                                            <h5 class="mb-0 text-white">All Messages<small
                                                    class="badge  badge-light float-right pt-1">5</small></h5>
                                        </div>
                                        <a href="#" class="iq-sub-card">
                                            <div class="media align-items-center">
                                                <div class="">
                                                    <img class="avatar-40 rounded" src="../static/images/user/01.jpg"
                                                         alt="">
                                                </div>
                                                <div class="media-body ml-3">
                                                    <h6 class="mb-0 ">Nik Emma Watson</h6>
                                                    <small class="float-left font-size-12">13 Jun</small>
                                                </div>
                                            </div>
                                        </a>
                                        <a href="#" class="iq-sub-card">
                                            <div class="media align-items-center">
                                                <div class="">
                                                    <img class="avatar-40 rounded" src="../static/images/user/02.jpg"
                                                         alt="">
                                                </div>
                                                <div class="media-body ml-3">
                                                    <h6 class="mb-0 ">Lorem Ipsum Watson</h6>
                                                    <small class="float-left font-size-12">20 Apr</small>
                                                </div>
                                            </div>
                                        </a>
                                        <a href="#" class="iq-sub-card">
                                            <div class="media align-items-center">
                                                <div class="">
                                                    <img class="avatar-40 rounded" src="../static/images/user/03.jpg"
                                                         alt="">
                                                </div>
                                                <div class="media-body ml-3">
                                                    <h6 class="mb-0 ">Why do we use it?</h6>
                                                    <small class="float-left font-size-12">30 Jun</small>
                                                </div>
                                            </div>
                                        </a>
                                        <a href="#" class="iq-sub-card">
                                            <div class="media align-items-center">
                                                <div class="">
                                                    <img class="avatar-40 rounded" src="../static/images/user/04.jpg"
                                                         alt="">
                                                </div>
                                                <div class="media-body ml-3">
                                                    <h6 class="mb-0 ">Variations Passages</h6>
                                                    <small class="float-left font-size-12">12 Sep</small>
                                                </div>
                                            </div>
                                        </a>
                                        <a href="#" class="iq-sub-card">
                                            <div class="media align-items-center">
                                                <div class="">
                                                    <img class="avatar-40 rounded" src="../static/images/user/05.jpg"
                                                         alt="">
                                                </div>
                                                <div class="media-body ml-3">
                                                    <h6 class="mb-0 ">Lorem Ipsum generators</h6>
                                                    <small class="float-left font-size-12">5 Dec</small>
                                                </div>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
                <ul class="navbar-list">
                    <li>
                        <a href="#" class="search-toggle iq-waves-effect d-flex align-items-center">
                            <img th:src="${session.userInfo.headImage}" class="img-fluid rounded mr-3" alt="user">
                            <div class="caption">
                                <h6 class="mb-0 line-height" th:text="${session.userInfo.userName}">Nik jone</h6>
                                <span class="font-size-12">Available</span>
                            </div>
                        </a>
                        <div class="iq-sub-dropdown iq-user-dropdown">
                            <div class="iq-card shadow-none m-0">
                                <div class="iq-card-body p-0 ">
                                    <div class="bg-primary p-3">
                                        <h5 class="mb-0 text-white line-height"
                                            th:text="'Hello  '+${session.userInfo.userName}"></h5>
                                        <span class="text-white font-size-12">Available</span>
                                    </div>
                                    <a th:href="@{/profile(userId=${session.userInfo.userId})}"
                                       class="iq-sub-card iq-bg-primary-hover">
                                        <div class="media align-items-center">
                                            <div class="rounded iq-card-icon iq-bg-primary">
                                                <i class="ri-file-user-line"></i>
                                            </div>
                                            <div class="media-body ml-3">
                                                <h6 class="mb-0 ">My Profile</h6>
                                                <p class="mb-0 font-size-12">View personal profile details.</p>
                                            </div>
                                        </div>
                                    </a>
                                    <a th:href="@{/profile/edit(userId=${session.userInfo.userId})}"
                                       class="iq-sub-card iq-bg-primary-hover">
                                        <div class="media align-items-center">
                                            <div class="rounded iq-card-icon iq-bg-primary">
                                                <i class="ri-profile-line"></i>
                                            </div>
                                            <div class="media-body ml-3">
                                                <h6 class="mb-0 ">Edit Profile</h6>
                                                <p class="mb-0 font-size-12">Modify your personal details.</p>
                                            </div>
                                        </div>
                                    </a>
                                    <div class="d-inline-block w-100 text-center p-3">
                                        <a class="bg-primary iq-sign-btn" th:href="@{/logout}" role="button">Sign out<i
                                                class="ri-login-box-line ml-2"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
    <!-- TOP Nav Bar END -->
</div>
<div th:fragment="commonSide">
    <div class="sign-in-detail text-white">
        <a class="sign-in-logo mb-5" href="#"><img src="../static/images/logo-white.png" class="img-fluid"
                                                   alt="logo"></a>
        <div class="owl-carousel" data-autoplay="true" data-loop="true" data-nav="false" data-dots="true"
             data-items="1" data-items-laptop="1" data-items-tab="1" data-items-mobile="1"
             data-items-mobile-sm="1" data-margin="0">
            <div class="item">
                <img src="../static/images/login/1.png" class="img-fluid mb-4" alt="logo">
                <h4 class="mb-1 text-white">it's your web System</h4>
                <p>Choose the SaaS library management platform that suits you best</p>
            </div>
            <div class="item">
                <img src="../static/images/login/1.png" class="img-fluid mb-4" alt="logo">
                <h4 class="mb-1 text-white">Manage your orders</h4>
                <p>Manage your business such as books and orders</p>
            </div>
            <div class="item">
                <img src="../static/images/login/1.png" class="img-fluid mb-4" alt="logo">
                <h4 class="mb-1 text-white">Stable system</h4>
                <p>Can support the services you need</p>
            </div>
        </div>
    </div>
</div>
<footer th:fragment="commonFooter">
    <!-- Footer -->
    <footer class="bg-white iq-footer">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-6">
                    <ul class="list-inline mb-0">
                        <li class="list-inline-item"><a href="javascript:void(0);">Privacy Policy</a></li>
                        <li class="list-inline-item"><a href="javascript:void(0);">Terms of Use</a></li>
                    </ul>
                </div>
                <div class="col-lg-6 text-right">
                    Copyright 2020 <a href="#">Vito</a> All Rights Reserved.
                </div>
            </div>
        </div>
    </footer>
</footer>
</body>
</html>