<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
   <head th:insert="common/common::commonHeader"></head>
</head>
<body>
<!-- loader Start -->
<div id="loading">
    <div id="loading-center">
    </div>
</div>
<!-- loader END -->
<!-- Wrapper Start -->
<div class="wrapper">
    <!-- Sidebar  -->
    <div th:insert="common/common::sidebar_base"></div>
    <!-- TOP Nav Bar -->
    <div th:insert="common/common::top_nav_bar"></div>
    <!-- TOP Nav Bar END -->
    <!-- Page Content  -->
    <div id="content-page" class="content-page">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12">
                    <div class="iq-card">
                        <div class="iq-card-body p-0">
                            <div class="iq-edit-list">
                                <ul class="iq-edit-profile d-flex nav nav-pills">
                                    <li class="col-md-3 p-0">
                                        <a class="nav-link active" data-toggle="pill" href="#personal-information">
                                            Personal Information
                                        </a>
                                    </li>
                                    <li class="col-md-3 p-0">
                                        <a class="nav-link" data-toggle="pill" href="#chang-pwd">
                                            Change Password
                                        </a>
                                    </li>
                                    <li class="col-md-3 p-0">
                                        <a class="nav-link" data-toggle="pill" href="#manage-contact">
                                            Manage Contact
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-12">
                    <div class="iq-edit-list-data">
                        <div class="tab-content">
                            <div class="tab-pane fade active show" id="personal-information" role="tabpanel">
                                <div class="iq-card">
                                    <div class="iq-card-header d-flex justify-content-between">
                                        <div class="iq-header-title">
                                            <h4 class="card-title">Personal Information</h4>
                                        </div>
                                    </div>
                                    <div class="iq-card-body">
                                        <form th:action="@{/edit/userBase}" method="post" enctype="multipart/form-data">
                                            <input type="text"  name="userId" th:value="${data.userId}" hidden>
                                            <div class="form-group row align-items-center">
                                                <div class="col-md-12">
                                                    <div class="profile-img-edit">
                                                        <img class="profile-pic" th:src="${data.headImage}" multiple="multiple"
                                                             alt="profile-pic">
                                                        <div class="p-image">
                                                            <i class="ri-pencil-line upload-button"></i>
                                                            <input class="file-upload" type="file" name="headImageFile" accept="image/*"/>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class=" row align-items-center">
                                                <div class="form-group col-sm-6">
                                                    <label for="uname">User Name:</label>
                                                    <input type="text" class="form-control" id="uname" name="userName" th:value="${data.userName}" placeholder="Nik@01">
                                                </div>
                                                <div class="form-group col-sm-6">
                                                    <label class="d-block">Gender:</label>
                                                    <div class="custom-control custom-radio custom-control-inline">
                                                        <input type="radio" id="customRadio6" name="userSex"
                                                               class="custom-control-input" th:checked="'male' eq ${data.userSex}" value="male">
                                                        <label class="custom-control-label" for="customRadio6">
                                                            Male </label>
                                                    </div>
                                                    <div class="custom-control custom-radio custom-control-inline">
                                                        <input type="radio" id="customRadio7" name="userSex"
                                                               class="custom-control-input" th:checked="'female' eq ${data.userSex}" value="female">
                                                        <label class="custom-control-label" for="customRadio7">
                                                            Female </label>
                                                    </div>
                                                </div>
                                                <div class="form-group col-sm-6">
                                                    <label>Country:</label>
                                                    <select class="form-control" id="exampleFormControlSelect3" name="userCountry">
                                                        <option th:selected="'Caneda'eq ${data.userCountry}" >Caneda</option>
                                                        <option th:selected="'Noida'eq ${data.userCountry}" >Noida</option>
                                                        <option th:selected="'USA'eq ${data.userCountry}" >USA</option>
                                                        <option th:selected="'India' eq ${data.userCountry}" >India</option>
                                                        <option th:selected="'Africa' eq ${data.userCountry}" >Africa</option>
                                                    </select>
                                                </div>
                                                <div class="form-group col-sm-12">
                                                    <label>Address:</label>
                                                    <textarea class="form-control" name="userAddress" rows="5"
                                                              style="line-height: 22px;">
37 Cardinal Lane
Petersburg, VA 23803
United States of America
                                             </textarea>
                                                </div>
                                            </div>
                                            <button type="submit" class="btn btn-primary mr-2">Submit</button>
                                            <button type="reset" class="btn iq-bg-danger">Cancle</button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="chang-pwd" role="tabpanel">
                                <div class="iq-card">
                                    <div class="iq-card-header d-flex justify-content-between">
                                        <div class="iq-header-title">
                                            <h4 class="card-title">Change Password</h4>
                                        </div>
                                    </div>
                                    <div class="iq-card-body">
                                        <form th:action="@{/edit/password}" method="post">
                                            <input type="text"  name="userId" th:value="${data.userId}" hidden>
                                            <div class="form-group">
                                                <label for="cpass">Current Password:</label>
                                                <a href="javascripe:void();" class="float-right">Forgot Password</a>
                                                <input type="Password" class="form-control" name="password" id="cpass" value="">
                                            </div>
                                            <div class="form-group">
                                                <label for="npass">New Password:</label>
                                                <input type="Password" class="form-control"  name="newPassword" id="npass" value="">
                                            </div>
                                            <div class="form-group">
                                                <label for="vpass">Verify Password:</label>
                                                <input type="Password" name="newPasswordVaild" class="form-control" id="vpass" value="">
                                            </div>
                                            <button type="submit" class="btn btn-primary mr-2">Submit</button>
                                            <button type="reset" class="btn iq-bg-danger">Cancle</button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="manage-contact" role="tabpanel">
                                <div class="iq-card">
                                    <div class="iq-card-header d-flex justify-content-between">
                                        <div class="iq-header-title">
                                            <h4 class="card-title">Manage Contact</h4>
                                        </div>
                                    </div>
                                    <div class="iq-card-body">
                                        <form th:action="@{/edit/userContact}" method="post">
                                            <input type="text"  name="userId" th:value="${data.userId}" hidden>
                                            <div class="form-group">
                                                <label for="cno">Contact Number:</label>
                                                <input type="text" th:value="${data.userPhone}" name="userPhone" class="form-control" id="cno"
                                                       value="001 2536 123 458">
                                            </div>
                                            <div class="form-group">
                                                <label for="email">Email:</label>
                                                <input type="text" th:value="${data.userEmail}"  name="userEmail" class="form-control" id="email"
                                                       value="nikjone@demo.com" readonly="readonly">
                                            </div>
                                            <div class="form-group">
                                                <label for="comment">User Comment:</label>
                                                <input type="text" class="form-control" th:text="${data.userComment}" name="userComment" id="comment"
                                                       value="https://getbootstrap.com">
                                            </div>
                                            <button type="submit" class="btn btn-primary mr-2">Submit</button>
                                            <button type="reset" class="btn iq-bg-danger">Cancle</button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Wrapper END -->
<footer th:insert="common/common::commonFooter"></footer>
<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://www.jq22.com/jquery/jquery-1.10.2.js"></script>
<script src="../static/js/popper.min.js"></script>
<script src="../static/js/bootstrap.min.js"></script>
<!-- Appear JavaScript -->
<script src="../static/js/jquery.appear.js"></script>
<!-- Countdown JavaScript -->
<script src="../static/js/countdown.min.js"></script>
<!-- Counterup JavaScript -->
<script src="../static/js/waypoints.min.js"></script>
<script src="../static/js/jquery.counterup.min.js"></script>
<!-- Wow JavaScript -->
<script src="../static/js/wow.min.js"></script>
<!-- Apexcharts JavaScript -->
<script src="https://cdn.bootcdn.net/ajax/libs/apexcharts/3.11.0/apexcharts.min.js"></script>
<!-- Slick JavaScript -->
<script src="../static/js/slick.min.js"></script>
<!-- Select2 JavaScript -->
<script src="../static/js/select2.min.js"></script>
<!-- Owl Carousel JavaScript -->
<script src="../static/js/owl.carousel.min.js"></script>
<!-- Magnific Popup JavaScript -->
<script src="../static/js/jquery.magnific-popup.min.js"></script>
<!-- Smooth Scrollbar JavaScript -->
<script src="../static/js/smooth-scrollbar.js"></script>
<!-- lottie JavaScript -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/bodymovin/5.6.8/lottie.js"></script>
<!-- Chart Custom JavaScript -->
<script src="../static/js/chart-custom.js"></script>
<!-- Custom JavaScript -->
<script src="../static/js/custom.js"></script>
</body>
</html>