<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <head th:insert="common/common::commonHeader"></head>
</head>
<body>
<!-- loader Start -->
<div id="loading">
    <div id="loading-center">
    </div>
</div>
<!-- loader END -->
<!-- Sign in Start -->
<section class="sign-in-page">
    <div class="container bg-white mt-5 p-0">
        <div class="row no-gutters">
            <div class="col-sm-6 align-self-center">
                <div class="sign-in-from">
                    <h1 class="mb-0">Sign in</h1>
                    <p>Enter your email address and password to access admin panel.</p>
                    <form class="mt-4" action="#" th:action="@{/login}" method="post">
                        <div class="form-group">
                            <label for="exampleInputEmail1">Email address</label>
                            <input name="email" type="email" value="" class="form-control mb-0" id="exampleInputEmail1"
                                   placeholder="Enter email">
                        </div>
                        <div class="form-group">
                            <label for="exampleInputPassword1">Password</label>
                            <a href="#" class="float-right">Forgot password?</a>
                            <input type="password" name="password" class="form-control mb-0" id="exampleInputPassword1"
                                   placeholder="Password">
                        </div>
                        <div class="d-inline-block w-100">
                            <div class="custom-control custom-checkbox d-inline-block mt-2 pt-1">
                                <input type="checkbox" class="custom-control-input" id="customCheck1">
                                <label class="custom-control-label" for="customCheck1">Remember Me</label>
                            </div>
                            <button type="submit" class="btn btn-primary float-right">Sign in</button>
                        </div>
                        <div class="sign-info">
                            <span class="dark-color d-inline-block line-height-2">Don't have an account? <a href="#">Sign up</a></span>
                            <ul class="iq-social-media">
                                <li><a href="#"><i class="ri-facebook-box-line"></i></a></li>
                                <li><a href="#"><i class="ri-twitter-line"></i></a></li>
                                <li><a href="#"><i class="ri-instagram-line"></i></a></li>
                            </ul>
                        </div>
                    </form>
                </div>
            </div>
            <div class="col-sm-6 text-center" th:insert="common/common::commonSide"></div>
        </div>
    </div>
</section>
<!-- Sign in END -->
<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://www.jq22.com/jquery/jquery-1.10.2.js"></script>
<script src="../static/js/popper.min.js"></script>
<script src="../static/js/bootstrap.min.js"></script>
<!-- Appear JavaScript -->
<script src="../static/js/jquery.appear.js"></script>
<!-- Countdown JavaScript -->
<script src="../static/js/countdown.min.js"></script>
<!-- Counterup JavaScript -->
<script src="../static/js/waypoints.min.js"></script>
<script src="../static/js/jquery.counterup.min.js"></script>
<!-- Wow JavaScript -->
<script src="../static/js/wow.min.js"></script>
<!-- Apexcharts JavaScript -->
<script src="https://cdn.bootcdn.net/ajax/libs/apexcharts/3.11.0/apexcharts.min.js"></script>
<!-- Slick JavaScript -->
<script src="../static/js/slick.min.js"></script>
<!-- Select2 JavaScript -->
<script src="../static/js/select2.min.js"></script>
<!-- Owl Carousel JavaScript -->
<script src="../static/js/owl.carousel.min.js"></script>
<!-- Magnific Popup JavaScript -->
<script src="../static/js/jquery.magnific-popup.min.js"></script>
<!-- Smooth Scrollbar JavaScript -->
<script src="../static/js/smooth-scrollbar.js"></script>
<!-- Chart Custom JavaScript -->
<script src="../static/js/chart-custom.js"></script>
<!-- Custom JavaScript -->
<script src="../static/js/custom.js"></script>
</body>
</html>