<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
  <head th:insert="common/common::commonHeader"></head>
</head>
<body>
<!-- loader Start -->
<div id="loading">
    <div id="loading-center">
    </div>
</div>
<!-- loader END -->
<!-- Wrapper Start -->
<div class="wrapper">
    <!-- Sidebar  -->
    <div th:insert="common/common::sidebar_base">
    </div>
    <!-- TOP Nav Bar -->
    <div th:insert="common/common::top_nav_bar">
    </div>
    <!-- TOP Nav Bar END -->
    <!-- Page Content  -->
    <div id="content-page" class="content-page">
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-12">
                    <div class="iq-card">
                        <div class="iq-card-header d-flex justify-content-between">
                            <div class="iq-header-title">
                                <h4 class="card-title">User List</h4>
                            </div>
                        </div>
                        <div class="iq-card-body">
                            <div class="table-responsive">
                                <div class="row justify-content-between">
                                    <div class="col-sm-12 col-md-6">
                                        <div id="user_list_datatable_info" class="dataTables_filter">
                                            <form class="mr-3 position-relative">
                                                <div class="form-group mb-0">
                                                    <input type="search" class="form-control" id="exampleInputSearch"
                                                           placeholder="Search" aria-controls="user-list-table">
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                    <div class="col-sm-12 col-md-6">
                                        <div class="user-list-files d-flex float-right">
                                            <a class="iq-bg-primary" href="javascript:void();">
                                                Print
                                            </a>
                                            <a class="iq-bg-primary" href="javascript:void();">
                                                Excel
                                            </a>
                                            <a class="iq-bg-primary" href="javascript:void();">
                                                Pdf
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <table id="user-list-table" class="table table-striped table-bordered mt-4" role="grid"
                                       aria-describedby="user-list-page-info">
                                    <thead>
                                    <tr>
                                        <th>Profile</th>
                                        <th>Name</th>
                                        <th>Contact</th>
                                        <th>Email</th>
                                        <th>Country</th>
                                        <th>Status</th>
                                        <th>Address</th>
                                        <th>Join Date</th>
                                        <th>Action</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr th:each="m:${userList}">
                                        <td class="text-center"><img th:src="@{${m.headImage}}" class="rounded-circle img-fluid avatar-40"
                                                                      alt="profile"></td>
                                        <td th:text="${m.userName}"></td>
                                        <td th:text="${m.userPhone}"></td>
                                        <td th:text="${m.userEmail}"></td>
                                        <td th:text="${m.userCountry}">Brazil</td>
                                        <td th:if="${m.userStatus==3001}">
                                            <span class="badge iq-bg-primary">active</span>
                                        </td>
                                        <td th:if="${m.userStatus==3002}">
                                            <span class="badge iq-bg-danger">inactive</span>
                                        </td>
                                        <td th:if="${m.userStatus==3003}">
                                            <span class="badge iq-bg-warning">pending</span>
                                        </td>
                                        <td th:text="${m.userStatus}"></td>
                                        <td th:text="${#dates.format(m.joinDate, 'yyyy-MM-dd')}"></td>
                                        <td>
                                            <div class="flex align-items-center list-user-action">
                                                <a class="iq-bg-primary" data-toggle="tooltip" data-placement="top"
                                                   title="" data-original-title="Add" href="#"><i
                                                        class="ri-user-add-line"></i></a>
                                                <a class="iq-bg-primary" data-toggle="tooltip" data-placement="top"
                                                   title="" data-original-title="Edit" href="#"><i
                                                        class="ri-pencil-line"></i></a>
                                                <a class="iq-bg-primary" data-toggle="tooltip" data-placement="top"
                                                   title="" data-original-title="Delete" href="#"><i
                                                        class="ri-delete-bin-line"></i></a>
                                            </div>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="row justify-content-between mt-3">
                                <div id="user-list-page-info" class="col-md-6">
                                    <span>Showing 1 to 5 of 5 entries</span>
                                </div>
                                <div class="col-md-6">
                                    <nav aria-label="Page navigation example">
                                        <ul class="pagination justify-content-end mb-0">
                                            <li class="page-item disabled">
                                                <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Previous</a>
                                            </li>
                                            <li class="page-item active"><a class="page-link" href="#">1</a></li>
                                            <li class="page-item"><a class="page-link" href="#">2</a></li>
                                            <li class="page-item"><a class="page-link" href="#">3</a></li>
                                            <li class="page-item">
                                                <a class="page-link" href="#">Next</a>
                                            </li>
                                        </ul>
                                    </nav>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Wrapper END -->
<!-- Footer -->
<footer class="bg-white iq-footer">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-6">
                <ul class="list-inline mb-0">
                    <li class="list-inline-item"><a href="privacy-policy.html">Privacy Policy</a></li>
                    <li class="list-inline-item"><a href="terms-of-service.html">Terms of Use</a></li>
                </ul>
            </div>
            <div class="col-lg-6 text-right">
                Copyright 2020 <a href="#">Vito</a> All Rights Reserved.
            </div>
        </div>
    </div>
</footer>
<!-- Footer END -->
<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script data-cfasync="false" src="/cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js"></script>
<script src="https://www.jq22.com/jquery/jquery-1.10.2.js"></script>
<script src="../static/js/popper.min.js"></script>
<script src="../static/js/bootstrap.min.js"></script>
<!-- Appear JavaScript -->
<script src="../static/js/jquery.appear.js"></script>
<!-- Countdown JavaScript -->
<script src="../static/js/countdown.min.js"></script>
<!-- Counterup JavaScript -->
<script src="../static/js/waypoints.min.js"></script>
<script src="../static/js/jquery.counterup.min.js"></script>
<!-- Wow JavaScript -->
<script src="../static/js/wow.min.js"></script>
<!-- Apexcharts JavaScript -->
<script src="https://cdn.bootcdn.net/ajax/libs/apexcharts/3.11.0/apexcharts.min.js"></script>
<!-- Slick JavaScript -->
<script src="../static/js/slick.min.js"></script>
<!-- Select2 JavaScript -->
<script src="../static/js/select2.min.js"></script>
<!-- Owl Carousel JavaScript -->
<script src="../static/js/owl.carousel.min.js"></script>
<!-- Magnific Popup JavaScript -->
<script src="../static/js/jquery.magnific-popup.min.js"></script>
<!-- Smooth Scrollbar JavaScript -->
<script src="../static/js/smooth-scrollbar.js"></script>
<!-- lottie JavaScript -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/bodymovin/5.6.8/lottie.js"></script>
<!-- Chart Custom JavaScript -->
<script src="../static/js/chart-custom.js"></script>
<!-- Custom JavaScript -->
<script src="../static/js/custom.js"></script>
</body>
</html>